@import "../../styles/mixins";

.section-hero-slider {
  transition: height $trans-semi-slow;
  min-height: 560px;
  height: 75vh; // fallback for js computed value
  //height: calc(100vh - 210px);
  //height: 640px !important;

  @include mobile {
    min-height: 480px;
  }

  //@at-root .alert-shown #{&} {
  //  height: calc(100vh - 250px);
  //}

  .carousel-root,
  .carousel,
  .slider-wrapper,
  .slider,
  .slide-wrap,
  .slide {
    height: 100%;
  }

  .slide-content {
    height: 100%;
    background-size: cover;
    background-position: top center;
    text-align: right;
    cursor: pointer;

    //@for $i from 1 through 6 {
    //  &.slide-#{$i} {
    //    background-image: url('/assets/img/hero/hero-#{$i}.jpg');
    //    @include mobile {
    //      background-image: url('/assets/img/hero/hero-#{$i}-mobile.jpg');
    //      background-position: bottom center;
    //    }
    //  }
    //}

    &.slide-1 {
      background-image: url('/assets/img/hero/hero-1.jpg');
      @include mobile {
        background-image: url('/assets/img/hero/hero-1-mobile.jpg');
        background-position: bottom center;
      }

      .slide-title {

      }
      .slide-text {
        max-width: 530px;
        font-size: 24px;

        @include laptop {
          max-width: 440px;
          font-size: 20px;
        }
        @include tablet {
          max-width: 396px;
          font-size: 18px;
        }
        @include mobile {
          max-width: 288px; // (320 - 16 * 2)
          font-size: 14px;
        }
      }
    }

    &.slide-2,
    &.slide-3 {
      background-image: url('/assets/img/hero/hero-2.jpg');
      @include laptop {
        background-image: url('/assets/img/hero/hero-2-laptop.jpg');
      }
      @include mobile {
        background-image: none;
        background-color: #FFFFFF;

        &:after {
          content: '';
          position: absolute;
          z-index: 0;
          bottom: 0;
          left: 0;
          right: 0;
          //padding-top: 112.5%;
          padding-top: 82.5%;
          background: url('/assets/img/hero/hero-2-mobile.jpg') center center / cover no-repeat;
        }
      }
    }

    &.slide-3 {
      background-image: url('/assets/img/hero/hero-3.jpg');
      @include laptop {
        background-image: url('/assets/img/hero/hero-3.jpg');
      }

      @include mobile {
        background-image: none;

        &:after {
          padding-top: 112.5%;
          background: url('/assets/img/hero/hero-3-mobile.jpg') center center / cover no-repeat;
        }
      }
    }

    &.slide-4 {
      position: relative;
      overflow: hidden;
      //background-color: #FFFFFF;
      background: url('/assets/img/hero/hero-5.jpg') center center / cover no-repeat;

      &.main {
        background: url('/assets/img/hero/hero-5-main.jpg') center center / cover no-repeat;
      }

      @include mobile {
        background: url('/assets/img/hero/hero-5-mobile.jpg') center center / cover no-repeat;

        &.main {
          background: url('/assets/img/hero/hero-5-main-mobile.jpg') center center / cover no-repeat;
        }
      }

      &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 65%;
        left: 0;
        top: 0;
        background-color: rgba(37, 45, 58, 0.85);
        transform: skew(-30deg, 0deg);
        transform-origin: 0 0;

        @include mobile {
          height: 50%;
          width: 100%;
          transform: none;
          top: 50%;
        }
      }

      .container {
        text-align: left;
        position: relative;
        z-index: 3;
        padding-top: 25vh;

        @include mobile {
          position: absolute;
          top: 50%;
          width: 100%;
          height: 50%;
          left: 0;
          padding: 30px 16px;
          display: flex;
          justify-content: center;
          text-align: center;
        }
      }

      .slide-title {
        font-size: 34px;
        color: #FFFFFF;
        text-align: left;
        position: relative;
        z-index: 3;


        @include mobile {
          font-size: 20px;
          text-align: center;
        }
        @include mobile-small {
          font-size: 18px;
        }
      }

      .slides-text {
        font-size: 18px;
        line-height: 1.4;
        font-weight: 400;

        @include mobile {
          span {
            text-align: center;
          }
        }
      }

      .slide-text {
        justify-content: left;
        position: relative;
        z-index: 1;
        font-size: 28px;
        line-height: 1.625;
        margin-bottom: 5vh;

        @include laptop {
          font-size: 24px;
        }
        @include tablet {
          font-size: 20px;
        }
        @include mobile {
          font-size: 18px;
          text-align: center;
          justify-content: center;
        }
        @include mobile-small {
          justify-content: center;
          font-size: 14px;
          line-height: 20px;
        }

        @media (max-height: 470px) {
          line-height: 1.4;
        }
      }

      .ui-button {
        position: relative;
        z-index: 1;
      }

      .slide-text {
        justify-content: left;
        color: #FFFFFF;

        span {
          text-align: left;

          @include mobile {
            text-align: center;
          }
        }
      }

      .group-years {
        text-align: left;
        display: inline-block;
        margin-bottom: 5vh;
      }
    }

    &.slide-5 {
      position: relative;
      overflow: hidden;
      //background-color: #FFFFFF;
      background: url('/assets/img/hero/hero-6.jpg') center center / cover no-repeat;

      @include mobile {
        background: url('/assets/img/hero/hero-6-mobile.jpg') center center / cover no-repeat;
      }

      &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 65%;
        left: 0;
        top: 0;
        background-color: rgba(37, 45, 58, 0.85);
        transform: skew(-30deg, 0deg);
        transform-origin: 0 0;

        @include mobile {
          height: 50%;
          width: 100%;
          transform: none;
          top: 50%;
        }
      }

      .container {
        text-align: left;
        position: relative;
        z-index: 3;
        padding-top: 25vh;

        @include mobile {
          position: absolute;
          top: 50%;
          width: 100%;
          height: 50%;
          left: 0;
          padding: 30px 16px;
          display: flex;
          justify-content: center;
          text-align: center;
        }
      }

      .slide-title {
        font-size: 34px;
        color: #FFFFFF;
        text-align: left;
        position: relative;
        z-index: 3;
        margin-bottom: 20px;

        @include mobile {
          font-size: 20px;
          text-align: center;
        }
        @include mobile-small {
          font-size: 18px;
        }
      }

      .slides-text {
        font-size: 18px;
        line-height: 1.4;
        font-weight: 400;
      }

      .section-title {
        width: fit-content;
        color: #FFFFFF;
        text-align: left;
        padding-top: 0;
        margin-bottom: 30px;

        &:before {
          width: 100%;
          height: 2px;
          left: 25%;
        }
      }

      .slide-text {
        justify-content: left;
        position: relative;
        z-index: 1;
        font-size: 28px;
        line-height: 1.625;
        margin-bottom: 30px;

        @include laptop {
          font-size: 24px;
        }
        @include tablet {
          font-size: 20px;
        }
        @include mobile {
          font-size: 18px;
          text-align: center;
          justify-content: center;
        }
        @include mobile-small {
          font-size: 14px;
          line-height: 20px;
        }

        @media (max-height: 470px) {
          line-height: 1.4;
        }
      }

      .note {
        font-size: 15px;
        line-height: 22px;
        margin-top: 50px;
        color: #FFFFFF;
      }

      .ui-button {
        position: relative;
        z-index: 1;
      }

      .slide-text {
        justify-content: left;
        color: #FFFFFF;

        @include mobile {
          justify-content: center;
        }

        span {
          text-align: left;

          @include mobile {
            text-align: center;
          }
        }
      }

      .group-years {
        text-align: left;
        display: inline-block;
        margin-bottom: 5vh;
      }
    }

    @include mobile {
      text-align: center;
    }
  }

  .container {
    height: 100%;
    padding-top: 12vh;

    //@include laptop {
    //  padding-top: 12vh;
    //}

    @include tablet {
      padding-top: 13vh;
    }

    @include mobile {
      position: relative;
      z-index: 1;
      padding-top: 30px;
    }
  }

  .slide-title {
    //max-width: 585px;
    margin-left: auto;
    margin-bottom: 3vh;
    color: #2A3853;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.25;

    @include laptop {
      //max-width: 487px;
      margin-bottom: 5vh;
      font-size: 40px;
      line-height: 1.2;
    }

    @include tablet {
      //max-width: 390px;
      margin-bottom: 6.5vh;
      font-size: 32px;
    }

    @include mobile {
      //max-width: 288px; // (320 - 16 * 2)
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 1.25;
      margin-right: auto;
    }
  }

  .slide-text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-bottom: 7.5vh;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.5;

    img {
      width: 191px;
      margin-right: 25px;
    }

    @include laptop {
      //max-width: 440px;
      font-size: 32px;
      line-height: 1.4;
      margin-bottom: 6vh;

      img {
        width: 150px;
      }
    }

    @include tablet {
      //max-width: 396px;
      font-size: 24px;
      margin-bottom: 10vh;
    }

    @include mobile {
      //max-width: 288px; // (320 - 16 * 2)
      justify-content: center;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 24px;
      margin-right: auto;

      img {
        display: none;
      }
    }
  }

  .BrainhubCarousel__dots .BrainhubCarousel__dot {
    background-color: #878586;
  }
  .BrainhubCarousel__dots .BrainhubCarousel__dot.BrainhubCarousel__dot--selected {
    background-color: #FA6900;
  }
  .BrainhubCarousel__dots .BrainhubCarousel__dot:hover {
    background-color: #FA6900;
  }
}
